*{
    box-sizing: border-box;
    margin: auto;
    width: 60%;
}
.container{
    display: flex;
}
.grid{
    width: 200px;
    height: 418px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.nextPieceGrid{
    width: 200px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 20px;
    width: 20px;
}
.nextPieceGrid div{
    height: 20px;
    width: 20px;
}

.tetromino{
    background-color: blue;
    border: 1px solid black;
}

.block{
    background-color: red;
    border: 1px solid black;
}
.end{
    background-color: grey;
    border: 1px solid black;
}
.next{
    background-color:orange;
    border: 1px solid black;
}
